:root {
  --white: #ffffff;
  --liblue: #4D69F5;
  --ghostwhite: #F3F6FF;
  --gray1: #00000029;
  --dblue: #122791;
  --liwhite2: #C4C8DE4D;
  --text1: #57575B;
  --text2: #9696A7;
  --text3: #ACB1CC;
  --text4: #0A0A0A;
  --black: #000000;
  --green: #3EB27B;
  --licyan: #DFFCFF;
  --payanton: #1DD4E6;
  --lightred: #EF4F65;
  --purpleheart: #5A2CE3;
  --liyellow: #FCE76C;
}

/* Font */
@font-face {
  	font-family: "basier-reg";
  	src: url("../fonts/BasierCircle-Regular.woff") format("woff"),
    url("../fonts/BasierCircle-Regular.ttf") format("truetype");
}

@font-face {
  	font-family: "basier-med";
  	src: url("../fonts/BasierCircle-Medium.woff") format("woff"),
    url("../fonts/BasierCircle-Medium.ttf") format("truetype");
}


/* Main stuff */
body {
	background-color: var(--liblue);
	font-family: basier-reg;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* text basic style */
.bc-reg-36 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 36px;
  color: var(--dblue);
}
.bc-reg-10 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 10px;
  color: var(--text2);
}
.bc-reg-12-t2 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--text2);
}
.bc-reg-14-bl {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
}
.bc-reg-12-lb {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--liblue);
}
.bc-reg-13 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 13px;
  color: var(--text2);
}
.bc-med-22 {
  font-family: basier-med;
  font-weight: 500;
  font-size: 22px;
  color: var(--text1);
}
.bc-reg-16-t2 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 16px;
  color: var(--text2);
}
.bc-reg-12-wh {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}
.bc-reg-16-t3 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 16px;
  color: var(--text3);
}
.bc-reg-18{
  font-family: basier-reg;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.bc-reg-12-bl {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
}
.bc-reg-14-t4 {
  font-family: basier-reg;
  font-weight: 400;
  font-size: 14px;
  color: var(--text4);
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.sidemenu{
    padding: 20px 0px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 5%;
}
.mainlogo{
margin: 0px auto;
}
.mainlogo img {
background-color: #404BE5;
width: 38px;
height: 38px;
border-radius: 6px;
}
.smoptions{
text-align: center;
}
.smoptions a{
  padding: 0px 20px;
  display: block;
}
.activesm{
  width: 100%;
    background-color: #657df9;
    display: block;
    border-right: 3px solid yellow;
    border-radius: 6px;
}
.smoptions a:hover {
text-decoration: none;
}
.smoptions img {
width: 20px;
}
.smoptions p {
 font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  margin-top: 4px;
}
.backar{
text-align: center;
margin: 0px auto;
}
.backar img {
  width: 28px;
}
.maind{
  display: flex;
}
.mainpagediv{
  background-color: #F3F6FF;
  border-radius: 51px;
  width: 95%;
      padding: 28px 50px
}
.pagetopd {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.pagetopd h2 {
font-family: basier-reg;
  font-weight: 400;
  font-size: 36px;
  color: var(--dblue);
  margin-bottom: 0px;
}

.has-search{
  padding: 0px 15px;
}
.has-search .form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 7px #C4C8DE5F;
border-radius: 12px;
border: none;
padding-left: 35px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ACB1CC;

}
.has-search input{
   font-family: basier-reg;
  font-weight: 400;
  font-size: 16px;
   color: #ACB1CC;
 }
 .sidethings .form-group {
    margin-bottom: 0rem;
}
 .has-search input::placeholder{
   font-family: basier-reg;
  font-weight: 400;
  font-size: 16px;
   color: #ACB1CC;
 }

.sidethings{
  display: flex;
  align-items: center;
}

 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-drop {
  font-family: 'Ubuntu', sans-serif;
  color: #444;
}
.notification-drop .item {
  padding: 10px;
  font-size: 18px;
  position: relative;
  border-bottom: 0px solid #ddd;
}
.notification-drop .item:hover {
  cursor: pointer;
}
.notification-drop .item i {
  margin-left: 10px;
}
.notification-drop .item ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  left: -70px;
  right: 0;
  z-index: 1;
  border-radius: 4px;
  overflow: auto;
}
.notification-drop .item ul li {
 padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ddd;
}
.notification-drop .item ul li:last-child{
  border-bottom: 0px;
}
.notification-drop .item ul li p {
 font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--liblue);
  margin-bottom: 0px;
}
.notification-drop .item ul li h3 {
 font-family: basier-reg;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 0px;
}


@media screen and (min-width: 500px) {
  .notification-drop {
    display: flex;
    justify-content: flex-end;
  }
  .notification-drop .item {
    border: none;
  }
}



.notification-bell{
 padding: 0px 20px;
    border-right: 1px solid #C4C8DE;
      border-left: 1px solid #C4C8DE;
}

.notification-text{
  font-size: 14px;
  font-weight: bold;
}

.notification-text span{
  float: right;
}

.siden3 {
display: flex;
align-items: center;
justify-content: center;
margin-left: 12px;
}
.siden3 img {
width: 35px;
height: 35px;
}
.siden3 p {
 font-family: basier-reg;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 0px;
  padding: 0px 20px;
    border-right: 1px solid #C4C8DE;
}
.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: #fff;
	border-radius: 4px;
  margin: 0px 20px;
}
.select-dropdown select {
	font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--text2);
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
  border: none !important;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

@media(max-width: 900px)
{
  .mainpagediv {
    padding: 20px 20px;
}
.pagetopd h2{
  font-size: 24px;
}
.siden3 p{
  font-size: 14px;
}
.siden3 img {
    width: 30px;
    height: 30px;
}
.mainpagediv{
  border-radius: 25px;
}

}

@media(max-width: 630px)
{
  .sidethings .form-group{
    display: none;
  }
  .siden3 p{
    display: none;
  }
  .siden3{
    margin-left: 0px;
  }
  .notification-bell{
    border-left: 0px;
    padding: 0px 15px;
  }
}



.p1maind{
  margin-top: 3rem;
   overflow: scroll;
  width: 100%;
}
.p1topd{
  display: flex;
  
}
.tdcontent{
  width: 256px;
  text-align: center;
}
.tdcontent p{
   font-family: basier-reg;
  font-weight: 400;
  font-size: 12px;
  color: var(--text2);
}

.maintblp1{
 background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 7px #C4C8DE5F;
border-radius: 12px;
}

.p1sided{

}
.p1sdcontent{
  width: 50px;
}

.p1sdcontent p{
     font-family: basier-reg;
  font-weight: 400;
  font-size: 10px;
  color: var(--text2);
  margin-bottom: 0px;
}


@media(max-width: 1600px)
{
  .sidemenu{
    width: 7%;
  }
  .mainpagediv{
    width: 93%;
  }
}

@media(max-width: 1100px)
{
  .sidemenu{
    width: 9%;
  }
  .mainpagediv{
    width: 91%;
  }
}

@media(max-width: 900px)
{
  .sidemenu{
    width: 12%;
  }
  .mainpagediv{
    width: 88%;
  }
}

@media(max-width: 600px)
{
  .sidemenu{
    width: 17%;
  }
  .mainpagediv{
    width: 83%;
  }
}
@media(max-width: 500px)
{
  .sidemenu{
    width: 20%;
  }
  .mainpagediv{
    width: 80%;
  }
}


.table__wrapper {
  overflow-x: auto;
  width: 100%;
  border: 1px solid #f0f0f0;
}

.table__wrapper .table {
  width: 100%;
  max-width: 100%;
}

.table tr th,
.table tr td {
  white-space: nowrap;
}


.center {
  margin: 0 auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #f0f0f0;
}

.table thead tr {
  border-bottom: 2px solid #f0f0f0;
}

.table thead th {
  text-align: center;
}

.table td,
.table th {
  padding: .5em;
  border-right: 1px solid #f0f0f0;
}

.table td {
  text-align: center;
}

.table th {
  text-align: left;
}